@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.image-logo {
    max-width: 120px;
    max-height: 120px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5em;
}

.secondary, a:link {
    font-size: 18px;
    color: #E5E7E8;
    text-decoration: none;
}

.welcome {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: #3882F6;
    padding: 7px 1em;
    border-radius: 8px;
    width: 120px;
}

.welcome button {
    border: none;
}
/* 
.image {
    display: flex;
    align-items: center;
    justify-content: center;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    /* border: 4px solid black; */
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.square-image {
    max-width: 160px;
    max-height: 160px;
}

main .card p {
    color: black;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7E8;
    padding: 7em 13em;
}

.quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.container button {
    border: 2px solid #fff
}

strong {
    font-size: 24px;
    color: #fff;
}

footer {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}